@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	margin: 0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #000;
	min-height: 100vh;
	background-image: url('./assets/bgimg.jpg');
	object-fit: cover;
}

canvas {
	border: 1px #fff solid;
}
